.hero {
    /*position: fixed;*/
    /*top: 50px;*/
    /*background-color: #f4ecd0;*/
    height: 50%;
    width: 100%;
}
@media (min-width: 425px) {
    .hero{
        width: 350px;
    }
}
.world{
    width: 100%;
}